@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #ffffff;
  --text-color: #1971c2;
  --font: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

#header {
    position: fixed;
    left: 2em;
    top: 2em;
}

#btnDark {
    display: flex;
    flex-direction: column;
    gap: .3em;
    cursor: pointer;
    background: #1971c2;
    padding: .5em .4em;
    border-radius: 100px;
    color: #ffffff;
    border: none;
    font-size: 1.2em;
}

#article_media {
    display: flex;
    height: 100vh;
    padding: 2.5em;
    justify-content: center;
    align-items: center;
    gap: 10em;
    background-image: url('../imgs/bg.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 95%;
}

#section_calc, #section_result {
    display: flex;
    flex-direction: column;
    align-items: center;   
    transition: 1.5s;
}

#img_livro {
    width: 50%;
    max-width: 300px;
    filter: drop-shadow(5px 4px 3px #00000027);
    transition: ease 1.5s;
    animation: iconeLivro 2s ease;
}

#img_livro:hover {
    transform: rotate(20deg) scale(120%);
}

@keyframes iconeLivro {
	0% {
		opacity: 0;
		transform: translateX(-250px) rotate(-200deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

#article_media_tittle {
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    line-height: 50px;
    margin: .4em;
}

#article_media_tittle span {
    color: var(--text-color);
    display: block;
}

form {
    width: 20.625em;
    margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#nome_aluno,
#nota_portugues,
#nota_matematica,
#nota_redacao {
    margin: .2em;
    position: relative;
    width: 100%;
}
#nome_aluno i,
#nota_portugues i,
#nota_matematica i,
#nota_redacao i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000;
}
#nomeAluno, 
#notaPortugues,
#notaMatematica,
#notaRedacao {
    padding: .8em;
    width: 100%;
    max-width: 400px;
    padding-left: 3em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: 6px; 
}

#button_calc {
    padding: 1em .8em;
    width: 100%;
    border-radius: 20px;
    margin-top: .5em;
    border: none;
    background-color: var(--text-color);
    color: #fff;
    cursor: pointer;
    transition: ease .5s;
}

#button_calc:hover {
    background-color: #12538f;
}

#errosInput {
    width: 80%;
    text-align: center;
    font-size: .8em;
    margin-top: 1em;
    color: rgb(255, 29, 29);
}

#section_result {
    margin-top: 2.5em;
}

ul {
    list-style: none;
}

li {
    margin: .3em 0;
}

#resultado {
    color: #fff;
    padding: 1em;
    height: 250px; 
    width: 500px;
    border: 2px solid #12538f;
    border-radius: 5px;
    overflow: auto;
    word-wrap: break-word;
}

#resultado span {
    color: #f5e36d;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}

::-webkit-scrollbar {
    color: #000000;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #12538f;
    border-radius: 2px;
}

#button_limpar {
    padding: .8em;
    width: 50%;
    max-width: 400px;
    border-radius: 20px;
    border: 1px solid var(--text-color);
    background-color: #fff;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1;
    transform: translateY(2em);
    transition: ease .5s;
}

#button_limpar:hover {
    background-color: #12538f;
    color: #fff;
    border: 1px solid #ffffff6c;
}

#bg-icones_escolares {
    transition: ease 2s;
}
#bg-icones_escolares:hover {
    transform: rotate(-3deg);
}

#bg_icone {
    position: absolute;
    border-radius: 70px 20px 70px 70px;
    width: 12em;
    height: 10em;
    background-color: #10457781;
    animation: bgEscolar 2s ease 0s normal forwards;
}

@keyframes bgEscolar {
    0% {
        opacity: 0;
        transform: translateY(-500px) translateX(100px);
    }

    100% {
        opacity: 1;
        margin: 80px 0 0 -30px;
        transform: translateX(14em) rotate(20deg);
    }
}

#icones_escolares {
    z-index: 1;
    position: relative;
    width: 60%;
    max-width: 250px;
    filter: drop-shadow(4px 3px 3px #00000027);
    animation: iconeEscolar 2s ease 0s normal forwards;
}

@keyframes iconeEscolar {
	0% {
		opacity: 0;
		transform: translateX(-200px) rotate(0deg);
	}

	100% {
		opacity: 1;
		transform: translateX(14em) rotate(20deg);
	}
}

body.dark-mode {
    background-color: #292929;
}

.dark-mode #article_media_tittle {
    color: #fff;
}

.dark-mode .input_dark {
    background-color: rgb(59, 59, 59);
    color: white;
    outline: none;
}

.dark-mode #button_limpar {
    background-color: #292929;
    color: #fff;
    border: none;
}

.dark-mode #nome_aluno i,
.dark-mode #nota_portugues i,
.dark-mode #nota_matematica i,
.dark-mode #nota_redacao i {
    color: #cecece; 
}
